---
layout: gallery
title: "3D Projects"
permalink: /3d/
author_profile: false
---

{% include base_path %}

{% assign has_gallery_images = false %} <!-- temporary until I make a collection for art -->

{% for file in site.static_files %}
    {% if file.path contains '/images/gallery/' %}
        {% assign has_gallery_images = true %}
        <div class="responsive">
            <div class="gallery">
                <!-- <a target="_blank" href="{{ file.path | relative_url }}"> -->
                <img src="{{ file.path | relative_url }}" width="600" height="400">
                <!-- </a> -->
            </div>
        </div>    
    {% endif %}
{% endfor %}

{% unless has_gallery_images %}
    <h1>&#x1F6A7; Under Construction &#x1F6A7;</h1>
    
{% endunless %}

