---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %} | {{ site.name | default: site.title }}</title>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/gallery.css">
  </head>

  <body>
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      <div class="container">
        {{ content }}
      </div>
    </div>
    <div class="display-image">
        <img>
        <span>x</span>
    </div>
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    <script>
      let images=document.querySelectorAll("div.gallery img");
      let viewImage= document.querySelector("div.display-image");
      let fullImage = document.querySelector("div.display-image img");
      for (let image of images) {
        image.addEventListener("click", function(e) {
          viewImage.style.display = 'flex';
          fullImage.src = e.target.src;
          fullImage.onload = () => {
            viewImage.classList.add("active");
          }
        })
      }

      let x = document.querySelector("div.display-image span");
      x.addEventListener("click", function(e) {
          viewImage.classList.remove("active");
          viewImage.addEventListener("transitionend", function handleTransitionEnd(e) {
            // Remove event listener so it doesn't fire again
            viewImage.removeEventListener("transitionend", handleTransitionEnd);
            viewImage.style.display = "none";
          })
      })
    </script>
  </body>
</html>
