:root {

    /*  you can replace the entries labeled ??? with the color. 
    Choose whatever format you want, if the program doesn't like it I can always fix it later 
    Do let me know which color format you use in the case I need to reformat though
    Color format = rgb #rrggbb  <==replace this with your actual format*/ 
    --main-bg-fall-color: #DC8B5D;
    --river-fall-color: #C38167;

    --main-bg-winter-color: #4BB6C8;
    --river-winter-color: #325981;

    --main-bg-spring-color: #8CB960;
    --river-spring-color: #829B74;

    --main-bg-summer-color: #F0A853;
    --river-summer-color: #C3996C;
    
    /* block states */
    --block-unoccupied: #A2A2A2;
    --block-powered: #66BA68;
    --block-unpowered: #D71F3D;
    --block-industrial: #C85647; 

    --text-color: ???;
    --text-box: ???;
    --text-alert: ???;
    
    /* network objects */
    --road-color: #373250; 

    --transmission-line-color: #F5FF64;
    --transmission-station-color: #4CFF5D;
    --transmission-station-failure: ????;
    /*current transmission color is a placeholder taken from fill color of generator SVGs*/

    /* need shapes for specific substation (step up / down) */
    --substation-stable-color: #FFFF3C;
    --substation-crit-color: #FF6D00;
    --substation-fail-color: #FF1143;
    /* power generators */
    --generator-active: ??;
    --generator-crit: ??;
    --generator-fail: ??;
    /*-hydro-generator-color: ???;
    --nuclear-generator-color: ???;
    --solar-generator-color: ???;
    --wind-generator-color: ???;
    --fossil-generator-color: ???;*/
    

    

    /* Feel free to add any extra color variables you can think of
    Here is an example of how to add one */
    --variable: chartreuse;

  }
  /*
  RANDOM INFO

  Line width for roads = 4





  */